/* ./styles/globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 여기 정의한 css가 계속 안 먹는 문제 발생 */
body {
    position: relative;
    overflow-y: hidden;
    padding: 0;

    font-family: -apple-system, InkLipquid, sans-serif;
  }
  
  @font-face {
    font-family: "InkLipquid";
    font-weight: 200;
    src: url("/fonts/InkLipquidFonts.ttf") format("truetype");
  }